body {
      margin: 0px;
}

/* navbar 1 */
/* nav {
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 75px;
      z-index: 999;
      background-color: white;
      border-top: 1px solid darkgrey;
      display: flex;
      justify-content: center;
      align-items: center;
}

.voice {
      width: 60px;
      height: 60px;
      margin: 0px 10px;
      margin-bottom: 0px;
      text-align: center;
}

a.box {
      text-decoration: none;
      color: darkblue;
      border-radius: 50px;
      background-color: white;
      margin: auto;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
}

p.label {
      position: relative;
      top: -12px;
      font-size: 12px;
      text-transform: uppercase;
}

a.box:hover {
      background-color: darkblue;
      color: white;
} */

/* navbar 2 */
/* nav {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      z-index: 9999;
      background-color: white;
      align-items: center;
      background-color: white;
      border-bottom: 2px solid #d3d3d3;
}

.menu {
      position: relative;
      width: 300px;
      height: 40px;
      border: 1px solid #d3d3d3;
      border-radius: 30px;
      display: flex;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.menu a {
      height: 40px;
      width: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      text-decoration: none;
      color: #555;
      text-align: center;
      transition: 0.4s;
      transition-delay: 0.4s;
}

.menu a.item:hover {
      color: white;
      transform: scale(1.2) rotateZ(360deg);
}

.menu .slider {
      position: absolute;
      left: -60px;
      top: 0px;
      height: 100%;
      width: 60px;
      z-index: 0;
      background: linear-gradient(100deg, #187bcd, #299df4);
      border-radius: 40px;
      transition: 1s cubic-bezier(0.7,-0.4,0,1);
}

.item:nth-child(1):hover ~.slider{
      left: 0px;
}

.item:nth-child(2):hover ~.slider{
      left: 60px;
}

.item:nth-child(3):hover ~.slider{
      left: 120px;
}

.item:nth-child(4):hover ~.slider{
      left: 180px;
}

.item:nth-child(5):hover ~.slider{
      left: 240px;
} */

/* navbar 3 */
/* nav {
      position:fixed;
      top: 0px;
      width: 100%;
      height: 60px;
      background: linear-gradient(120deg, darkblue, black, 90%, white 90%);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#toggler {
      display: none;
}

.togglerLabel {
      color: white;
      font-size: 36px;
      position: absolute;
      top: 14px;
      left: 20px;
      transition: 0.8s;
}

.menu {
      position: absolute;
      top: 60px;
      left: -100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      width: 30%;
      min-width: 250px;
      z-index: 999;
      border-right: 2px solid black;
      padding-left: 20px;
      padding-top: 20px;
      transition: 0.8s;
}

#toggler:checked ~ .menu {
      left: 0%;
}

#toggler:checked ~ .togglerLabel {
      transform: rotateZ(90deg);
}

.menu p {
      text-transform: uppercase;
      margin-bottom: 30px;
} */

